.room-prompt {
    width: 150px;
    margin: 200px auto 0 auto;
    background-color: #f0f0f0;
    border: 1px solid #c0c0c0;
    box-shadow: 3px 0px 10px #000;
    border-radius: 10px;
    padding: 30px;
}